<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPiServer.CMS" version="11.12.0" targetFramework="net472" />
  <package id="EPiServer.CMS.AspNet" version="11.12.0" targetFramework="net472" />
  <package id="EPiServer.CMS.Core" version="11.12.0" targetFramework="net472" />
  <package id="EPiServer.CMS.TinyMce" version="1.0.0" targetFramework="net472" />
  <package id="EPiServer.CMS.UI" version="11.20.1" targetFramework="net472" />
  <package id="EPiServer.CMS.UI.Core" version="11.20.1" targetFramework="net472" />
  <package id="EPiServer.Framework" version="11.12.0" targetFramework="net472" />
  <package id="EPiServer.Framework.AspNet" version="11.12.0" targetFramework="net472" />
  <package id="EPiServer.ServiceLocation.StructureMap" version="1.0.0" targetFramework="net472" />
  <package id="structuremap.web-signed" version="3.1.6.186" targetFramework="net472" />
  <package id="structuremap-signed" version="3.1.9.463" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.4.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.4.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Xml" version="4.4.2" targetFramework="net472" />
  <package id="System.Security.Permissions" version="4.4.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.4.0" targetFramework="net472" />
  <package id="System.Threading.AccessControl" version="4.4.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>